@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:  url("../fonts/GothamPro.woff2"),
        url("../fonts/GothamPro.woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:  url("../fonts/GothamPro-Bold.woff2"),
  url("../fonts/GothamPro-Bold.woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:  url("../fonts/GothamPro-Black.woff2"),
  url("../fonts/GothamPro-Black.woff");
}